In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
import numpy as np
import pandas as pd
data= [1,['a',3],4,[5,'b'],7]
df=pd.DataFrame(data)
print(df)

        0
0       1
1  [a, 3]
2       4
3  [5, b]
4       7

In [ ]:
import numpy as np
import pandas as pd
data=[['Aditya',67],['Kriti',76],['Krishu',91]]
df=pd.DataFrame(data,columns=['Name','Aggregate'])
print(df)

     Name  Aggregate
0  Aditya         67
1   Kriti         76
2  Krishu         91

In [ ]:
import numpy as np
import pandas as pd
data1={'Name':['Aditya','Kriti','Krishu'],'Age':[22,21,20]}
data2={'Name':['Aditya','Kriti','aryan'],'Marks':[80,81,82]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print(df2)

     Name  Age
0  Aditya   22
1   Kriti   21
2  Krishu   20
     Name  Marks
0  Aditya     80
1   Kriti     81
2   aryan     82

In [ ]:
import numpy as np
import pandas as pd
data=[{'Name':'Aditya','Marks':90},{'Name':'Kriti','Marks':89},{'Name':'Krishu','Marks':88}]
df=pd.DataFrame(data, index=['stud1','stud2','stud3'])
print(df)

         Name  Marks
stud1  Aditya     90
stud2   Kriti     89
stud3  Krishu     88

In [ ]:
import numpy as np
import pandas as pd

data={
    'Aditya':pd.Series([80,90,91],index=['M1','M2','M3']),
    'Kriti':pd.Series([80,90,91,92],index=['M1','M2','M3','M4'])
}
df=pd.DataFrame(data)
print(df)

    Aditya  Kriti
M1    80.0     80
M2    90.0     90
M3    91.0     91
M4     NaN     92

In [ ]:
name= input("enter the name of the students whose marks you want to see:")
print(df[name])

enter the name of the students whose marks you want to see:Aditya
M1    80.0
M2    90.0
M3    91.0
M4     NaN
Name: Aditya, dtype: float64

In [ ]:
df['Krishu']=pd.Series([80,81,82],index=['M1','M2','M3'])
print(df)

    Aditya  Kriti  Krishu
M1    80.0     80    80.0
M2    90.0     90    81.0
M3    91.0     91    82.0
M4     NaN     92     NaN

In [ ]:
name= input("enter the name of the students whose marks you want to see:")
print(df[name])

enter the name of the students whose marks you want to see:Krishu
M1    80.0
M2    81.0
M3    82.0
M4     NaN
Name: Krishu, dtype: float64

In [ ]:
import numpy as np
import pandas as pd

data={
    'Aditya':pd.Series([80,90,91],index=['M1','M2','M3']),
    'Kriti':pd.Series([80,90,91,92],index=['M1','M2','M3','M4']),
    'Krishu':pd.Series([80,81,82],index=['M1','M2','M3']),
    'kouser':pd.Series([80,90,91,92],index=['M1','M2','M3','M4'])
}
df=pd.DataFrame(data)
print(df)
#deleting a column
del df['Kriti']
print(df)
df.pop('kouser')
print(df)
del df['Krishu']
print(df)

    Aditya  Kriti  Krishu  kouser
M1    80.0     80    80.0      80
M2    90.0     90    81.0      90
M3    91.0     91    82.0      91
M4     NaN     92     NaN      92
    Aditya  Krishu  kouser
M1    80.0    80.0      80
M2    90.0    81.0      90
M3    91.0    82.0      91
M4     NaN     NaN      92
    Aditya  Krishu
M1    80.0    80.0
M2    90.0    81.0
M3    91.0    82.0
M4     NaN     NaN
    Aditya
M1    80.0
M2    90.0
M3    91.0
M4     NaN

In [ ]:
import numpy as np
import pandas as pd
data={
    'Name':['Aditya','Kriti','Krishu','kouser'],
    'Age':[12,13,14,15],
    'interest':['cricket','football','chess','cooking']
}
df=pd.DataFrame(data)
print(df)
print(df.mean(numeric_only=True))

     Name  Age  interest
0  Aditya   12   cricket
1   Kriti   13  football
2  Krishu   14     chess
3  kouser   15   cooking
Age    13.5
dtype: float64